<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="ko" lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/css.css" />
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/button_slide.js"></script>
</head>
<body>
	<div id="button_slide_wrap">
		<button class="prev">이전이미지 보기</button>
		<div>
			<ul>
				<li><img src="./images/3.jpg" alt="마지막이미지" /></li>
				<li><img src="./images/1.jpg" alt="처음이미지" /></li>
				<li><img src="./images/2.jpg" alt="두번째이미지" /></li>
			</ul>
		</div>	
		<button class="next">다음이미지 보기</button>
	</div>
</body>
</html>